<body class="p-0 bg-gray-200">
  <header class="fixed top-0 left-0 right-0 z-50 flex flex-col md:flex-row bg-gray-900 bg-opacity-80 w-full items-center">
    <div class="relative flex flex-col md:flex-row md:mx-16 h-28 w-full items-center justify-between">
      <a href="<%= new_user_session_path %>" class="flex items-center text-white px-4 py-2 transition text-2xl not-italic duration-300">
        Deputinhos
      </a>
      <div class="flex gap-4 mt-4 md:mt-0 md:ml-auto">
        <a href="https://www.camara.leg.br/transparencia/" class="bg-green-600 text-white px-4 py-2 rounded-full hover:bg-green-700 transition duration-300">Portal Transparência</a>
        <a href="<%= new_user_registration_path %>" class="flex items-center bg-blue-800 text-white px-4 py-2 rounded-full hover:bg-blue-900 transition duration-300">
          Sign Up
        </a>
        <a href="<%= new_user_session_path %>" class="flex items-center bg-blue-800 text-white px-4 py-2 rounded-full hover:bg-blue-900 transition duration-300">
          <%= heroicon 'user', variant: :solid, options: { class: 'w-6 h-6 mr-2' } %> Login
        </a>
      </div>
    </div>
  </header>
  <main class="flex flex-col items-center justify-center mt-32 p-10">
    <div class="bg-white shadow-md rounded-lg p-8 w-full max-w-3xl">
      <h1 class="text-2xl font-bold mb-4">Informações do Deputado</h1>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Nome:</label>
        <p class="text-gray-700 text-base"><%= @deputy.civil_name %></p>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Partido:</label>
        <p class="text-gray-700 text-base"><%= @deputy.party_initials %></p>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Proposições:</label>
        <ul class="list-disc pl-5">
            <li class="text-gray-700 text-base">
              <p class="text-black font-black text-base">Ementa: </p><%= @proposition.first.summary %>
            </li>
            <li class="text-gray-700 text-base">
              <p class="text-black font-black text-base">Sigla: </p>
              <%= @proposition.proposition_type %>
            </li>
        </ul>
      </div>
    </div>
  </main>
</body>